.auth-layout {
    /*position: absolute;*/
    /*top: 100px;*/
    /*bottom: 0;*/
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* total-page와 auth-page 간의 여백을 만들기 위한 margin-top입니다. */
    padding: 0 20px;

    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/

    /*background-color: antiquewhite;*/
}

.title {
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
    /*line-height: 9.5;*/ /*글 간격*/
    color: #04B404;
}

.sub-title {
    margin-bottom: 55px;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    color: dimgrey;
}

.inputTitle {
    margin-top: 35px;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 550;
    color: #262626;
}

.inputWrap {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 17px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid #d9d6d6;/*e2e0e0*/
}

.inputWrap:focus-within {
    border: 2px solid #B3C693;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    height: 18px;
    font-size: 15px;
    font-weight: 400;
}

.input::placeholder {
    color: #dadada;
}

.errorMessageWrap {
    margin-left: 5px;
    margin-top: 5px;
    color: red;
    font-size: 13px;
}

.nickNameMessageWrap {
    margin-left: 5px;
    margin-top: 5px;
    color: #469536;
    font-size: 13px;
    font-weight: 550;
}

.authButton {
    width: 100%;
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    height: 55px;
    font-size: 18px;
    font-weight: 545;
    color: white;
    background-color: #8BC765;
    margin-bottom: 70px;
}

.authButton:hover {
    background-color: #89DE55;
}

.authButton:active {
    background-color: #8BC765;
}

.authButton:disabled {
    background-color: #dadada;
    color: white;
}

.pwCheck{
    margin-top: 8px;
    margin-left: 5px;
    font-size: 13.5px;
}

[type="checkbox"] {
    border: 1.5px solid dimgrey;
    border-radius: 20%;
    width: 0.75em;
    height: 0.75em;
    accent-color: #89DE55;
    margin-left: 5px;
}

[type="checkbox"]:hover {
    box-shadow: 0 0 3px 1px lightgrey;
    cursor: pointer;
}

.checkbox-hover {
    cursor: pointer;
}

.signUpText {
    text-align: right;
    margin-top: 17px;
    font-size: 15px;
    padding-bottom: 50px;
}

.nickNameButton {
    font-size: 12px;
    border: none;
    border-radius: 7px;
    background-color: #8BC765;
    padding: 7px;
    font-weight: 549;
}

.nickNameButton:hover {
    background-color: #89DE55;
}

.nickNameButton:active {
    background-color: #B3C693;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 300px; /* 원하는 크기로 조절하세요 */
    height: 300px; /* 원하는 크기로 조절하세요 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    cursor: pointer;
    padding: 8px;
}

.radio-style {
    font-size: 16px;
    font-weight: 530;
    padding: 0.1em 0.7em;
}

.radio-style:hover {
    cursor: pointer;
}

.radio-text {
    padding-left: 5px;
}

[type="radio"] {
    appearance: none;
    border: 1.5px solid gray;
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    transition: border 0.2s ease-in-out;
}

[type="radio"]:checked {
    border: 0.25em solid #5FB404;
}

[type="radio"]:focus-visible {
    outline: 1px dotted #5FB404;
    outline-offset: 1px;
}

[type="radio"]:hover {
    box-shadow: 0 0 1px 2px lightgrey;
    cursor: pointer;
}


select.box {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 10px;
    border-radius: 8px;
    border: 1px solid #d9d6d6;
    color: #383838;
    background-color: #ffffff;
    font-family: 'Montserrat', 'Pretendard', sans-serif;
}

select.box:focus-within {
    border: 2px solid #B3C693;
}

option {
    font-size: 16px;
    color: #383838;
}

.info .box#domain-list option {
    font-size: 14px;
    background-color: #ffffff;
    border: 2px solid #B3C693;
}

.info#info__birth {
    display: flex;
}

.info#info__birth select {
    margin-left : 7px;
}

.info#info__birth select:first-child {
    margin-left : 0px;
}

.info#info__birth select::-webkit-scrollbar {
    width: 10px;
}

.info#info__birth select::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 3px;
}

.info#info__birth select::-webkit-scrollbar-track {
    background-color: #ebe9e9;
    border-radius: 6px;
}