.profile{
    padding-top: 50px;
    /* padding-left: 100px; */
}

.left{
    float: left;
    margin-right: 100px;
    background-color : green;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.imageWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.name{
    padding-right: 10px;
    display: inline-block;
}

.edit{
    display: inline-block;
    margin-bottom: 20px;
}

.intro{
    margin-bottom: 20px;
}

.post{
    display: inline-block;
    padding-right: 10px;
}

.postNum{
    display: inline-block;
    padding-right: 50px;
}

.friend{
    display: inline-block;
    padding-right: 10px;
}

.friendNum{
    display: inline-block;
    padding-right: 50px;
}